.snakemake
.ipynb_checkpoints
fastq/
dax/
.DS_Store
.vscode/
__pycache__
sheets/test*
slogs/
logs
config_*.yaml
!config_devel_rerun.yaml
!config_*master.yaml
sheets
!test.csv
!testMac.csv
oldconfigs
scripts/filters/filter1-*
scripts/filters/filter2-*