.snakemake
.ipynb_checkpoints
fastq/
dax/
.DS_Store
.vscode/
__pycache__
sheets/*
!sheets/test*
slogs/
logs
config_*.yaml
SLURM2.sh
!active_config*.yaml
!config_*master.yaml
configs/general/*
!configs/general/config_CNV.yaml
!configs/general/config_testgeneral.yaml
!configs/config_test.yaml
!config/config_devel.yaml
!test.csv
!testMac.csv
oldconfigs
scripts/filters/filter1-*
scripts/filters/filter2-*
Snakefile*
!Snakefile
!Snakefile_devel
info/*cols_edit.txt
info/clinscore*
!info/clinscore.yaml
info/~$*
env/Backup